/* Navigation  */

nav>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav{
    background-color: rgb(211, 68, 68);
}
.logo {
    float: left;
    padding: 10px 10px;
    margin:2px 2px;
}


nav>ul>li{
    list-style: none;
    padding: 20px 25px;
}

/* Background first section      */

.firstSection{
    background-color: rgb(197, 31, 31);
    height: 255px;
    width: 100%;
}


/* second section     */

.secondSection{
    width: 100%;
    /* margin:180px; */
    /* padding:15px; */
    background-color: red;
    /* margin-left: 155px ; */
    /* background-color: red; */
}

/* slick area */

.for_slick_slider{
    /* margin-left: 200px; */
}

/* slick card */

.itemsl{
    /* height: 250px;
    width: 250px !important ; */
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.slider_head{
    /* width: 100%;
    height: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


/* test  */


.slick-slider .slick-list{
  /* margin:0px 15px;
  padding:0px 15px;   */
}
.for_slick_slider .slick-center div .itemsl {
    width: 150px;
    height: 230px;
    transition: all linear .3s;
    border: 8px solid honeydew;
    box-shadow: 0px 0px 9px 1px rgb(224, 224, 231);
    
}
.for_slick_slider .slick-active div .itemsl {
    width: 150px;
    height: 230px;
    transition: all linear .3s;
    border: 8px solid honeydew;
    box-shadow: 0px 0px 9px 1px rgb(224, 224, 231);
}

.for_slick_slider .slick-slider .slick-list .slick-track .slick-active{
    width:230px;
}

.for_slick_slider .slick-center div .itemsl  {
   
    transform: scale(2);
    border: 8px solid honeydew;
    box-shadow: 0px 0px 9px 1px rgb(224, 224, 231);
}

.for_slick_slider .slick-center div .itemsl:hover {
    transform: scale(2.1);
    transition: all linear .3s;
}



div button::before,div button::after{
    color:black;
    background-color:black;
    width: 25px;
    height: 25px;
}
div button::before{
    margin-right:15px;
}
div button::after{
    margin-left:15px;
}

.slick-center div{
    margin:122px 0px;
}
.slick-active div{
    margin:122px 0px;
}